<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="OutputHelper" class="cn.zw.demo.loosely_coupled.OutputHelper">
    	<property name="outputGenerator" ref="JsonOutputGenerator"></property>
    </bean>
    <bean id="CsvOutputGenerator" class="cn.zw.demo.loosely_coupled.CsvOutputGenerator"></bean>
    <bean id="JsonOutputGenerator" class="cn.zw.demo.loosely_coupled.JsonOutputGenerator"></bean>
</beans>